{
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "ignore",
  "ignorePath": ".prettierignore",
  "requireConfig": false,
  "trailingComma": "none"
}
